<link rel="stylesheet" href="/CSS/profile.css" />
<div class="container my-5 d-flex">
     <div class="container d-flex">
          <div class="picture-card">
               <img
                    src="https://images.unsplash.com/photo-1675714203232-683124186564?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1353&q=80"
                    alt=""
                    style="width: 184px; height: 248px"
               />
          </div>
          <div class="mx-5">
               <div class="d-flex">
                    <p class="db-field">Name:</p>
                    <p class="db-value"><%= profile_user.firstName %> <%= profile_user.lastName %></p>
               </div>
               <div class="d-flex">
                    <p class="db-field">Profile:</p>
                    <p class="db-value"><%= profile_user.jobProfile %></p>
               </div>
               <div class="d-flex">
                    <p class="db-field">Company:</p>
                    <p class="db-value"><%= profile_user.companyName %></p>
               </div>
               <div class="d-flex">
                    <p class="db-field">Skills:</p>
                    <p class="db-value"><%= profile_user.skills %></p>
               </div>
               <div class="d-flex">
                    <p class="db-field">Email:</p>
                    <p class="db-value"><%= profile_user.email %></p>
               </div>
               <div class="d-flex">
                    <p class="db-field">Phone:</p>
                    <p class="db-value"><%= profile_user.phone %></p>
               </div>
               <div class="d-flex">
                    <p class="db-field">Address:</p>
                    <p class="db-value"><%= profile_user.address %></p>
               </div>
               <div class="my-5 d-flex">
                    <a
                         href="<%= profile_user.linkedIn %>"
                         target="_blank"
                         style="text-decoration: none; font-weight: bold; color: black; margin-right: 40px"
                    >
                         <i class="fa-brands fa-linkedin fa-2xl"></i> LinkedIn</a
                    >
                    <a
                         href="<%= profile_user.github %>"
                         target="_blank"
                         style="text-decoration: none; font-weight: bold; color: black; margin-right: 40px"
                         ><i class="fa-brands fa-square-github fa-2xl"></i> GitHub</a
                    >
                    <% if(locals.user.id == profile_user.id) {%>
                    <a href="" style="text-decoration: none; font-weight: bold; color: black; margin-right: 40px"
                         ><i class="fa-solid fa-user-pen fa-xl"></i> Update Profile</a
                    >
                    <% } %>
               </div>
          </div>
     </div>
</div>
